# Reference: https://cursos.alura.com.br/forum/topico-erro-warning-crlf-will-be-replaced-by-lf-in-241738
# Reference: https://youtu.be/E3ZasQEOdRY

* text=auto

/style.css binary
/resources/images/*.png binary
/resources/images/*.jpg binary
/resources/images/*.svg binary