.card {
  background: rgb(219, 219, 219);
  background: linear-gradient(90deg, rgb(239, 239, 239) 0%, rgb(248, 248, 248) 50%, rgb(246, 246, 246) 100%);

  @apply rounded-[7px] border-[2px] border-solid border-black p-[20px] transition-all duration-200;
}

.card:hover {
  @apply translate-y-[-5px];
}

.card .thumbnail {
  @apply flex justify-center mb-[25px];
}

/* MD */
@media(min-width: 768px) {
  .card .thumbnail {
    @apply mb-[15px];
  }
}

.card .thumbnail img {
  @apply rounded-[3px] h-[200px] opacity-100 transition-all duration-300;
}

.card .thumbnail img:hover {
  @apply opacity-70;
}

.card .card__content {
  @apply grid grid-cols-1 content-between gap-y-[10px] gap-x-0 h-[180px] overflow-auto;
}

.card .card__content .title {
  color: black;
}

.card .card__content .title h2 {
  font-size: 1.30rem;
  word-break: break-word;

  @apply font-bold;
}

.card .card__content .time,
.card .card__content .category {
  font-size: 0.8rem;
  color: black;
}

.card .card__content .category,
.card .card__content .category a {
  color: black;
  font-size: 0.72rem;

  @apply font-bold uppercase transition-all duration-300;
}

.card .card__content .category:hover,
.card .card__content .category a:hover {
  color: blue;
}

.card .card__content .excerpt p {
  font-size: 0.87rem;
  line-height: 1.4;
}

.card .card__content .author a,
.card--category .card__content .author {
  font-size: 0.7rem;

  @apply border-l-[3px] border-solid border-black pl-[5px];
}
