@font-face {
  font-family: 'inter';
  font-weight: 400;
  font-style: normal;
  font-display: swap;
  src: url("./resources/fonts/static/Inter-Regular.ttf");
}

@font-face {
  font-family: 'inter';
  font-weight: 700;
  font-display: swap;
  src: url("./resources/fonts/static/Inter-Bold.ttf");
}

* {
  font-family: 'inter';

  @apply text-16;
}

body {
  background: rgb(239, 254, 255);
  background: linear-gradient(90deg, rgba(239, 254, 255, 1) 10%, rgba(255, 250, 240, 1) 50%, rgba(239, 254, 255, 1) 90%); /* Reference: https://cssgradient.io/ */

  @apply p-[30px];
}

img {
  @apply block max-w-full object-cover;
}

footer {
  background-color: white;

  @apply rounded-[10px] mt-[150px] opacity-70 p-[30px] text-center;
}

a,
h2 {
  color: black;

  @apply no-underline transition-all duration-300;
}

a:hover,
h2:hover {
  color: blue;
}
