* {
  font-family: var(--inter);
  @apply text-16; /* Tailwind: https://tailwindcss.com/ */
}

body { /* Reference: https://cssgradient.io/ */
  background: var(--color-p1); 
  background: linear-gradient(90deg, var(--color-p1) 10%, var(--color-p2) 50%, var(--color-p1) 90%);
  @apply p-[30px]; /* Tailwind: https://tailwindcss.com/ */
}

img {
  @apply block object-cover;
}

h1 {
  @apply font-bold mb-[35px] opacity-70 text-28 text-center md:text-32 lg:text-40 uppercase;
}

h1 > span {
  @apply text-22;
}

a[href],
a[href] > h2 {
  @apply duration-300 no-underline text-stone-950 transition-all;
}

a[href] > h2 {
  @apply break-words font-bold text-20;
}

a[href]:hover,
a[href] > h2:hover {
  @apply text-blue-700;
}

a[href] > img {
  @apply duration-300 h-[200px] opacity-100 rounded-[3px] transition-all;
}

a[href] > img:hover {
  @apply opacity-70;
}
