* {
  font-family: 'Inter';
  /* Tailwind: https://tailwindcss.com/ */
  @apply text-16;
}

body { /* Reference: https://cssgradient.io/ */
  background: var(--color-p1); 
  background: linear-gradient(90deg, var(--color-p1) 10%, var(--color-p2) 50%, var(--color-p1) 90%);
  /* Tailwind: https://tailwindcss.com/ */
  @apply p-[30px];
}

img {
  @apply block object-cover;
}

h1 {
  @apply text-28 md:text-32 lg:text-40 font-bold mb-[35px] opacity-70 text-center uppercase;
}

h1 > span {
  @apply text-22;
}

a[href],
a[href] > h2 {
  @apply text-stone-950 no-underline transition-all duration-300;
}

a[href] > h2 {
  @apply break-words font-bold text-20;
}

a[href]:hover,
a[href] > h2:hover {
  @apply text-blue-700;
}

a[href] > img {
  @apply rounded-[3px] h-[200px] opacity-100 transition-all duration-300;
}

a[href] > img:hover {
  @apply opacity-70;
}
