:root {
  /* Colors */
  --color-p1: #effeff;
  --color-p2: #fffaf0;
  --color-p3: #dbdbdb;
  --color-p4: #efefef;
  --color-p5: #f8f8f8;
  --color-p6: #f6f6f6;

  /* Fonts */
  --inter: 'Inter';
  --lato-400: 'Lato Regular';
  --lato-700: 'Lato Bold';
  --lato-900: 'Lato Black';
}
