.page-template-template-custom .content {
  @apply mb-[30px];
}

.page-template-template-custom .content--first,
.page-template-template-custom .content--second,
.page-template-template-custom .content--third {
  background-color: greenyellow;

  @apply rounded-[10px] p-[20px];
}

.page-template-template-custom .content--second {
  background-color: pink;
}

.page-template-template-custom .content--third {
  background-color: blue;
}

.page-template-template-custom .content--first .card {
  background: orange;
}

.page-template-template-custom .content--second .card {
  background: aqua;
}

.page-template-template-custom .content--third .card {
  background: gold;
}
